body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.jokebox {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}