<html>
  <head>
    <title>Jo¢es</title>
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  </head>

  <body>
    <h1>JOKES OF THE DAY</h1>
    
    <div class="jokes">
      <h2>{{ jokes }}</h2>
      <h2>If you liked the joke, please donate 1 cent!</h2>
    </div>
    <div>
      <h2>Click to Donate!</h2>
      <form action="/charge" method="post">
        <script 
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="{{ key }}"
          data-description="Laughter Charge"
          data-amount="1"
          data-locale="auto">
        </script>
      </form>
    </div>
    
    {% block content %}{% endblock %}

  </body>
</html>